@page
@model PizzaritoShop.Pages.Pizzas.PizzaModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1>Your Pizza, Your Way</h1>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <a asp-page="/Custom/CustomPizza">
                        <img src="~/Images/CreateYourOwn.png" class="card-img-top" alt="Create Your Own Pizza" />
                    </a>
                    <div class="card-body text-center">
                        <h5 class="card-title">Create Your Own Pizza</h5>
                        <p class="card-text">From £10.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var pizza in Model.Pizzas)
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <!-- Link wrapped around the pizza image to navigate to the details page -->
                        <a asp-page="/Pizzas/Details" asp-route-id="@pizza.Id">
                            <img src="@pizza.ImageTitle" alt="@pizza.PizzaName" class="card-img-top" style="width:100%; height:auto;" />
                        </a>

                        <div class="card-body text-center">
                            <h5 class="card-title">@pizza.PizzaName</h5>
                            <p>Price: @pizza.Price.ToString("C")</p>

                            <!-- Form to add pizza to cart -->
                            <form method="post" class="pizza-form">
                                <input type="hidden" name="pizzaId" value="@pizza.Id" /> 
                                <input type="hidden" name="imageTitle" value="@pizza.ImageTitle" />
                                <input type="hidden" name="pizzaName" value="@pizza.PizzaName" />
                                <input type="hidden" name="pizzaPrice" value="@pizza.Price" />

                                <button type="submit" class="btn btn-success add-to-cart-btn">Add To Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script src="~/js/site.js"></script>

